In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

# Study data files
demographic_data = "resources/Demographics.csv"
birth_data = "resources/Birth_Statistics.csv"
cancer_data = "resources/Cancer_Rates.csv"
hospital_data = "resources/Hospitalization_Discharge_Rates.csv"
health_data = "resources/LakeCounty_Health.csv"
mortality_data = "resources/Mortality_Rates.csv"
obesity_data = "resources/Obesity_Percentages.csv"


# Read the mouse data and the study results
county_demographic_data = pd.read_csv(demographic_data)
county_birth_data = pd.read_csv(birth_data)
county_cancer_data = pd.read_csv(cancer_data)
county_hospital_data = pd.read_csv(hospital_data)
county_mortality_data = pd.read_csv(mortality_data)
county_obesity_data = pd.read_csv(obesity_data)

#demographics
county_demographic_data.head()

,OBJECTID,ZIP,Total_Pop,White__,African_Am,Asian__,Hispanic_o,No_English,Under_5yea,Under_18ye,...,Female_,High_Schoo,Associate_,Bachelor_D,Food_Stamp,Med_Income,No_HS,Poverty,SHAPE_Length,SHAPE_Area
0,1,60002,24305,88.648426,1.197285,2.493314,5.315779,10.2,5.6,24.1,...,46.858671,94.3,8.2,29.3,7.528748,75928,5.7,10.5,215525.155184,-1.149062e+09
1,2,60010,44416,82.598613,0.569615,10.340868,4.723523,18.8,4.6,24.5,...,51.193264,97.2,5.4,64.3,2.462192,122789,2.8,4.9,178637.109618,-8.027354e+08
2,3,60015,27373,88.528842,0.895043,4.460600,4.946480,17.0,4.7,26.5,...,51.006466,97.6,3.5,71.5,1.739495,130140,2.5,3.5,111400.890558,-3.674576e+08
3,4,60020,10246,80.665626,1.542065,4.509077,12.590279,22.3,8.6,21.4,...,51.912942,88.9,7.9,22.7,14.162791,55431,11.2,11.2,92363.084625,-1.666177e+08
4,5,60030,36563,77.594836,2.885431,5.688811,11.566338,16.1,5.7,25.3,...,50.214698,93.8,6.2,45.5,7.104066,81055,6.2,5.5,247258.224672,-8.455179e+08

In [2]:
df = county_demographic_data.set_index("ZIP")
df.head()

,OBJECTID,Total_Pop,White__,African_Am,Asian__,Hispanic_o,No_English,Under_5yea,Under_18ye,F18to64year,...,Female_,High_Schoo,Associate_,Bachelor_D,Food_Stamp,Med_Income,No_HS,Poverty,SHAPE_Length,SHAPE_Area
ZIP,,,,,,,,,,,,,,,,,,,,,
60002,1,24305,88.648426,1.197285,2.493314,5.315779,10.2,5.6,24.1,63.0,...,46.858671,94.3,8.2,29.3,7.528748,75928,5.7,10.5,215525.155184,-1.149062e+09
60010,2,44416,82.598613,0.569615,10.340868,4.723523,18.8,4.6,24.5,57.2,...,51.193264,97.2,5.4,64.3,2.462192,122789,2.8,4.9,178637.109618,-8.027354e+08
60015,3,27373,88.528842,0.895043,4.460600,4.946480,17.0,4.7,26.5,58.7,...,51.006466,97.6,3.5,71.5,1.739495,130140,2.5,3.5,111400.890558,-3.674576e+08
60020,4,10246,80.665626,1.542065,4.509077,12.590279,22.3,8.6,21.4,63.2,...,51.912942,88.9,7.9,22.7,14.162791,55431,11.2,11.2,92363.084625,-1.666177e+08
60030,5,36563,77.594836,2.885431,5.688811,11.566338,16.1,5.7,25.3,62.0,...,50.214698,93.8,6.2,45.5,7.104066,81055,6.2,5.5,247258.224672,-8.455179e+08

In [3]:
df.columns

Index(['OBJECTID', 'Total_Pop', 'White__', 'African_Am', 'Asian__',
       'Hispanic_o', 'No_English', 'Under_5yea', 'Under_18ye', 'F18to64year',
       'F65years_an', 'Male_', 'Female_', 'High_Schoo', 'Associate_',
       'Bachelor_D', 'Food_Stamp', 'Med_Income', 'No_HS', 'Poverty',
       'SHAPE_Length', 'SHAPE_Area'],
      dtype='object')

In [4]:
#del df ["OBJECTID"]
#del df ["SHAPE_Length"]
#del df ["SHAPE_Area"]
df.drop (["OBJECTID", "SHAPE_Length", "SHAPE_Area"], axis=1, inplace=True)
df.head()

,Total_Pop,White__,African_Am,Asian__,Hispanic_o,No_English,Under_5yea,Under_18ye,F18to64year,F65years_an,Male_,Female_,High_Schoo,Associate_,Bachelor_D,Food_Stamp,Med_Income,No_HS,Poverty
ZIP,,,,,,,,,,,,,,,,,,,
60002,24305,88.648426,1.197285,2.493314,5.315779,10.2,5.6,24.1,63.0,12.8,53.141329,46.858671,94.3,8.2,29.3,7.528748,75928,5.7,10.5
60010,44416,82.598613,0.569615,10.340868,4.723523,18.8,4.6,24.5,57.2,18.4,48.806736,51.193264,97.2,5.4,64.3,2.462192,122789,2.8,4.9
60015,27373,88.528842,0.895043,4.460600,4.946480,17.0,4.7,26.5,58.7,14.6,48.993534,51.006466,97.6,3.5,71.5,1.739495,130140,2.5,3.5
60020,10246,80.665626,1.542065,4.509077,12.590279,22.3,8.6,21.4,63.2,15.3,48.087058,51.912942,88.9,7.9,22.7,14.162791,55431,11.2,11.2
60030,36563,77.594836,2.885431,5.688811,11.566338,16.1,5.7,25.3,62.0,12.7,49.785302,50.214698,93.8,6.2,45.5,7.104066,81055,6.2,5.5

In [7]:
df.rename(columns = {'Total_Pop':'Total Population', 'White__':'White(%)',
                              'African_Am':'African American(%)', 'Asian__':'Asian(%)', 'Hispanic_o':"Hispanic(%)", 'Under_5yea':"Under 5 years old(%)", "Under_18ye":"Under 18 years old(%)",'No_English':'Does not Speak English(%)', 'F18to64year': "18 to 64 years old(%)",'F65years_an':'65 years and older(%)', 'Male_':'Male(%)', 'Female_':'Female(%)', 'High_Schoo':'High School(%)', 'Associate_':'Associates Degree(%)', 'Bachelor_D':'Bachelors Degree(%)', 'Food_Stamp':'Utilizes Food Stamps(%)', 'Med_Income':'Median Household Income', 'No_HS':'No High School(%)'}, inplace = True)
print(df.columns)

Index(['Total Population', 'White(%)', 'African American(%)', 'Asian(%)',
       'Hispanic(%)', 'Does not Speak English(%)', 'Under 5 years old(%)',
       'Under 18 years old(%)', '18 to 64 years old(%)',
       '65 years and older(%)', 'Male(%)', 'Female(%)', 'High School(%)',
       'Associates Degree(%)', 'Bachelors Degree(%)',
       'Utilizes Food Stamps(%)', 'Median Household Income',
       'No High School(%)', 'Poverty'],
      dtype='object')